/*.meta
/Objects/shell/bin/classes/app/aegdistribuzione/*.class
/Objects/shell/src/app/aegdistribuzione/*.java
/Objects/src/app/aegdistribuzione/designerscripts/*.java
/Objects/src/app/aegdistribuzione/*.java
*.class
